{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Gestión de Clientes <span>&gt; Crear Cliente </span></h1>
        </div>
    </div>
    
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-male"></i> </span>
                    <h2>Formulario de creación de cliente</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        {{ form(form, {'attr': {'id': 'client-form'}}) }}
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        </article>
    </div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
    {% javascripts 'SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

<script type="text/javascript">
    $(document).ready(function(){
        //Validation
        $('#client-form').validate({
            onkeyup: false,
            submitHandler: function(form) {
                    form.submit();
                    $("#mainbundle_client_submit").prop('disabled', true);
                },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                "mainbundle_client[code]":{
                    required :true
                },
                "mainbundle_client[nombre]":{
                    required :true,
                    minlength:2
                },
                "mainbundle_client[delivery]":{
                    required :true,
                    minlength:2
                },
                "mainbundle_client[contact]":{
                    required :true,
                    minlength:2
                }
            },
            messages: {
                "mainbundle_client[code]":{
                    required : "Este campo es requerido"
                },
                "mainbundle_client[nombre]":{
                    required :"Este campo es requerido",
                    minlength:"Este campo debe tener dos caracteres como mínimo"
                },
                "mainbundle_client[delivery]":{
                    required :"Este campo es requerido",
                    minlength:"Este campo debe tener dos caracteres como mínimo"
                },
                "mainbundle_client[contact]":{
                    required :"Este campo es requerido",
                    minlength:"Este campo debe tener dos caracteres como mínimo"
                }
            }
        });
    });
</script>
{% endblock %}
