{% extends "base.html.twig" %}

{% block content %}
    <h1 class="page-title txt-color-Dark"><i class="fa fa-desktop fa-fw "></i> Bienvenido! </h1>
    <div id="stacked-bar-graph" class="chart no-padding"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'SmartAdmin/js/plugin/morris/morris-chart-settings.min.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        // START AND FINISH DATE
        $(document).ready(function () {
            if ($('#stacked-bar-graph').length) {
					Morris.Bar({
						element : 'stacked-bar-graph',
						axes : false,
						grid : false,
						data : [{
							x : '2011 Q1',
							y : 3,
							z : 2,
							a : 3
						}, {
							x : '2011 Q2',
							y : 2,
							z : null,
							a : 1
						}, {
							x : '2011 Q3',
							y : 0,
							z : 2,
							a : 4
						}, {
							x : '2011 Q4',
							y : 2,
							z : 4,
							a : 3
						}],
						xkey : 'x',
						ykeys : ['y', 'z', 'a'],
						labels : ['Y', 'Z', 'A'],
						stacked : true
					});
				}
            
        });
    </script>
{% endblock %}